<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Budget Page')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>
<br>
<h1 class="text-center">Calculate Balance</h1>
<br>
<br>
<div class="row d-flex justify-content-center">
    <div class="number-input text-center">
<!--        <form th:action="@{/BudgetController/incomeImport}">-->
            <label for="income" class="mr-1 large-font">Income: </label>
            <input type="number" id="income" placeholder="(Enter income)">
            <button id="importIncome">Import</button>
<!--        </form>-->
    </div>

    <div class="ml-3 mr-3 font-weight-bold large-font"> &mdash; </div>

    <div class="number-input">
<!--        <form th:action="@{/BudgetController/expenditureImport}">-->
            <label for="expenditures" class="mr-1 large-font">Expenditures: </label>
            <input type="number" id="expenditures" placeholder="(Enter expenditures)">
            <button id="importExpenditures">Import</button>
<!--        </form>-->
    </div>

    <div class="ml-3 mr-3 large-font"> = </div>

    <div class="mr-1 large-font"> Balance:</div>

    <div class="answer large-font">
        <p id="balance"></p>
    </div>
</div>
<br>
<br>
<div class="button text-center large-font">
    <button onclick="calculateBalance()">Calculate</button>
</div>

<br>
<hr>

<h1 class="text-center">Goals</h1>
<br>
<h4 class="text-center">(Feature coming soon)</h4>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>
