<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Transaction Page')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<br>
<h1 class="text-center">Your Transactions</h1>

<div class="p-4">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date added</th>
            <th>Delete/Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr id="editTrans" th:each="transaction : ${transactions}" class="text-center my-auto"
            th:style="${transaction.income} == true ? 'background-color: lightgreen; color: black' : 'background-color: pink; color: black'">
            <td th:text="${transaction.name}"></td>
            <td th:text="${#strings.replace(#numbers.formatCurrency(transaction.amountInCents), '.00', '')}"></td>
            <td th:text="${transaction.category.name}"></td>
            <td th:text="${#dates.format(transaction.createDate, 'dd-MMM-yyyy')}"></td>
            <td>
                <form th:action="@{|/transactions/${transaction.id}/delete|}" th:method="POST">
                    <button class="btn bg-transparent p-1"><i class="fas fa-trash-alt"></i></button>
                    <form th:action="@{|/transactions/${transaction.id}/edit|}" th:method="POST">
                        <button type="button" class="btn bg-transparent p-1" data-toggle="modal"
                                data-target="#editPost">
                            <i class="fas fa-edit"></i>
                        </button>
                    </form>

                    <!-- Modal -->

                    <div class="modal fade" id="editPost" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{|/transactions/${transaction.id}/edit|}" th:method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" class="form-control" type="text"
                                                   th:value="${transaction.name}">
                                        </div>
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input id="amount" name="amount" class="form-control" type="text"
                                                   th:value="${transaction.amountInCents}">
                                        </div>
                                        <div>
                                            <label for="isIncome">Income</label>
                                            <input type="checkbox" id="isIncome" name="isIncome"
                                                   th:value="${transaction.income}" class="form-control">
                                        </div>
                                        <div>
                                            <label for="category">Category</label>
                                            <select type="text" id="category" class="form-control" name="category">
                                                <option th:each="cat : ${categories}" th:value="${cat.id}"
                                                        th:text="${cat.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- End of Modal -->

            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" onclick="location.href='/transactions/add';" value="+"/><span class="ml-2 font-weight-bold">Add Transaction</span>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>
