<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Transaction Page')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<h1 class="text-center top-title">Your Transactions</h1>
<div th:if="${param.error}" class="alert alert-danger text-center mt-2">
    invalid input
</div>
<!--<div id="transactions"></div>-->

<div class="container">

    <div class="mt-5 row d-flex justify-content-center">
        <div id="donutchart-trans"></div>
    </div>

    <!--    <div class="row">-->

    <div class="text-center">
        <button type="button" id="addTButton" class="btn btn-primary p-2 w-auto float-right mb-3" data-toggle="modal"
                data-target="#addTransaction"><i class="fas fa-plus mr-2"></i>Add a Transaction
        </button>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr class="text-center">
            <th>Date added</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr id="editTrans" th:each="transaction : ${transactions}" class="text-center">
            <td class="data-center align-middle" th:text="${#dates.format(transaction.createDate, 'dd-MMM-yyyy')}"></td>
            <td class="data-center align-middle" th:text="${transaction.name}"></td>
            <td class="data-center money-td align-middle" th:text="'$' + ${transaction.amountInCents/100}"
                th:style="${transaction.income} == true ? 'color: green' : 'color: red'"></td>
            <td class="data-center align-middle" th:text="${transaction.category.name}"></td>
            <td class="text-center align-middle">
                <button type="button" class="btn btn-warning text-black-50 editIcon" data-toggle="modal"
                        data-target="#editTransaction" th:data-id="${transaction.id}"><i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger text-black-50" data-toggle="modal"
                        data-target="#deleteTransaction" th:data-i="${transaction.id}"><i
                        class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--    </div>-->

    <div class="text-center">
        <button type="button" id="addBButton" class="btn btn-primary p-2 w-auto float-left" data-toggle="modal"
                data-target="#addTransaction"><i class="fas fa-plus mr-2"></i>Add a Transaction
        </button>
    </div>
</div>
<br>
<br>

<div class="modal fade" id="deleteTransaction" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirm">Delete this transaction?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This is permanent and cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancel" data-dismiss="modal"><i class="fas fa-ban mr-2"></i>Cancel
                </button>
                <form th:action="@{|/transactions/delete|}" th:method="POST">
                    <button type="submit" class="btn btn-success" name="id" id="delete-id"><i
                            class="far fa-check-circle mr-2"></i>Confirm
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTransaction" tabindex="-1" role="dialog" aria-labelledby="editTransactionLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTransactionLabel">Edit This Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body my-auto align-items-center">
                <form th:action="@{/transactions/edit}" th:method="post">
                    <div>
                        <label for="edit-name">Transaction Name</label>
                        <input required type="text" class="form-control" id="edit-name" name="name">
                    </div>

                    <div>
                        <label for="edit-amount">Transaction Amount</label>
                        <input required type="number" step="0.01" class="form-control" id="edit-amount" name="amount">
                    </div>

                    <div>
                        <label for="edit-isIncome">Check this amount as income?</label><br>
                        <input type="checkbox" class="form-control" id="edit-isIncome" name="isIncome" value="true">
                    </div>

                    <div>
                        <label for="edit-category">Transaction Category</label>
                        <select type="text" id="edit-category" class="form-control" name="category">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                    </div>
                    <div class="modal-footer mr-4">
                        <button type="button" class="btn btn-danger cancel" data-dismiss="modal">
                            <i class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" id="edit-id" name="id" class="btn btn-primary"><i
                                class="fas fa-check-circle mr-2"></i>Save Changes
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--Add transaction modal-->
<div class="modal fade" id="addTransaction" tabindex="-1" role="dialog" aria-labelledby="addTransactionLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTransactionLabel">Add a Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/transactions/add}" th:method="post" th:object="${transaction}">
                    <div>
                        <label for="add-name">Transaction Name</label>
                        <input required type="text" class="form-control" id="add-name" th:field="*{name}">
                    </div>

                    <div>
                        <label for="add-amount">Transaction Amount</label>


                        <input required name="amount" type="number" step="any" class="form-control" id="add-amount"
                               th:field="*{amountInCents}">


                    </div>

                    <div>
                        <label for="add-amount">Check this amount as income?</label>
                        <input type="checkbox" class="form-control" id="add-isIncome" th:field="*{income}">
                    </div>

                    <div>
                        <label for="category">Transaction Category</label>
                        <select type="text" id="category" class="form-control" name="category">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger cancel" data-dismiss="modal"><i
                                class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle mr-2"></i>Add
                            Transaction
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer-transactions"></div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready()
    {
        let moneyFormat = $(".money-td");
        console.log(moneyFormat);
        for (let td of moneyFormat) {
            let moneyParsed = $(td).text();
            console.log(td);
            moneyParsed = parseFloat(moneyParsed.substring(1)).toFixed(2);
            $(td).text("$" + moneyParsed);
        }
    }

    $(document).ready(function () {
        google.charts.load("current", {packages: ["corechart"]});  //this loads visualization API and corechart package
        google.charts.setOnLoadCallback(drawChart); //this sets callback to run when the Google Visualization API is loaded
        function drawChart() {
            /*<![CDATA[*/
            var chartArray = [];
            chartArray.push(['Income/Expenses', '% of spending']);
            /*[# th:each="incomeTotal : ${incomeList}"]*/
            chartArray.push(["Income", [[${income/100}]]], ["Expenses", [[${expenses/100}]]]);
            /*[/]*/
            /*]]>*/
            chartArray.pop();
            chartArray.pop();

            console.log(chartArray);

            var data = google.visualization.arrayToDataTable(chartArray);

            var options = {
                title: 'Income vs Expenses',
                legend: {position: 'left', align: 'center'},
                chartArea: {left: 0, top: 30, width: "97%", height: "97%"}
                , height: 400
                , width: 400,
                is3D: true,
                backgroundColor: 'rgb(239,239,239)'

            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart-trans'));
            chart.draw(data, options);
        }
    });

</script>
</body>
</html>
