<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Adding Transaction')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>
<div class="container">
<form th:action="@{/transactions/add}" method="POST" th:object="${transaction}">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="name">
    </div>

    <div>
        <label for="amount">Amount</label>
        <input type="text" id="amount" th:field="*{amount_in_cents}" class="form-control" placeholder="amount">
    </div>

<!--    <div>-->
<!--        <label for="due_date">Due date</label>-->
<!--        <input type="date" id="due_date" th:field:="*{due_date}" class="form-control}">-->

<!--    </div>-->


    <div th:object="${isIncome}">
        <label for="isIncome">Income</label>
        <input type="checkbox" id="isIncome" th:value="${isIncome}" class="form-control">

    </div>

    <div th:object="${categories}">
        <label for="category">Category</label>
        <select type="text" id="category"  class="form-control">
            <option  th:each="category: ${categories}" value="${category.name}" th:text="${category.name}"></option>
        </select>
    </div>



    <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit">+</button>

</form>
</div>


<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>