<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5811016069.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
<top_banner th:fragment="top_banner">
    <div class="top_banner nav-top-margin">Quacker Tracker</div>
</top_banner>

<standard_nav th:fragment="navbar">

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <!--    <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- left side content -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/bills" sec:authorize="isAuthenticated()">Bills</a>
                </li>
            </ul>

            <!-- right side content -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/profile"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link" style="border:none; background:none; color:red">Logout</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/register" style="color:green">Sign-Up</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login" style="color:green">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</standard_nav>

<footer_nav th:fragment="footer_nav">

    <!-- collapsing navbar elements -->
    <div class="navbar navbar-expand-lg navbar-light footer">

        <!-- left side content -->
        <ul class="navbar-nav mr-auto" id="footer-nav">
            <li class="nav-item"><a class="nav-link" href="/about" target="_blank">About Us</a></li>
        </ul>
    </div>
</footer_nav>
<div th:fragment="footer" th:remove="tag">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
