<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Login')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>
<h1 class="text-center mt-4">Log In</h1>
<br>
<div th:if="${param.error}" class="alert alert-danger text-center mt-2">
    Invalid username or password.
</div>
<div th:if="${param.logout}" class="alert alert-warning text-center mt-2">
    You have been logged out.
</div>
<div th:if="${pd}" class="alert alert-warning text-center mt-2">
    Your account has been delete.
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" th:action="@{/login}" method="post" >
                        <div class="form-label-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username"  class="form-control" placeholder="(Enter username)" required autofocus>
                        </div>
                        <div class="form-label-group mt-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="(Enter password)" required>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit" value="Log In"><i class="fas fa-door-open mr-2"></i>Sign In</button>
                        <hr class="my-4">
                        <a href="/register" class="ml-2">Don't have an account? Waddle you waiting for!
                            <img src="img/plain_waddle.png" alt="waddles" style="width: 30px; height: 30px;margin-left: 2px;margin-bottom: 9px">
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>

</body>
</html>