<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Profile')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<img src="..." alt="..." class="img-thumbnail">
<div class="text-center">
<div> Upcoming Bills</div>

<div> Overdue Bills</div>

<div> Goal Tracker</div>

<div><a th:href="@{'/profile/'+${user.id}+'/profile-edit'}">Edit Profile</a><div>

    <a th:href="@{'/profile/'+${user.id}+'/delete'}">Delete Profile</a>

</div>


<div th:if="${param.logout}">
    You have been logged out.
</div>


<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>

</body>
</html>