<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Edit Profile')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<h1 class="text-center top-title">Edit Profile</h1>
<div th:if="${ccp}" class="alert alert-danger text-center mt-2">
    Current Password Incorrect.
</div>
<div th:if="${mp}" class="alert alert-danger text-center mt-2">
    Passwords Do Not Match.
</div>
<div th:if="${sei}" class="alert alert-success text-center mt-2">
    Your Information Was Updated.
</div>
<div th:if="${scp}" class="alert alert-success text-center mt-2">
    Password Has Been Changed.
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 px-auto mt-5">
            <img src="../../img/Ducks/LuckyTheDuck.jpeg" alt="Lucky Duck" class="img-thumbnail" style="height: 175px; width: 175px">
            <button type="button" class="btn btn-warning p-1 ml-4 mt-3 w-auto" id="backProfile">
                <a th:href="@{'/profile'}" style="color: black">
                    <i class="fas fa-undo-alt mr-2" style="color: black"></i>
                    Return
                </a>
            </button>
        </div>

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Edit Profile</h5>
                    <form class="form-signin" th:action="@{|/profile/profile-edit|}" method="POST"
                          th:object="${user}">
                        <div class="form-label-group d-flex">
                            <label for="username">Username</label>
                            <input class="ml-auto mt-2" id="username" th:field="*{username}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="firstName">First Name</label>
                            <input class="ml-auto mt-2" id="firstName" th:field="*{first_name}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="lastName">Last Name</label>
                            <input class="ml-auto mt-2" id="lastName" th:field="*{last_name}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="phone">Phone Number</label>
                            <input class="ml-auto mt-2" id="phone" th:field="*{phone_num}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="email">Email</label>
                            <input class="ml-auto mt-2" id="email" th:field="*{email}"/>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
                            <i class="fas fa-check mr-2"></i>Save Changes
                        </button>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Change Password</h5>
                    <form class="form-signin" th:action="@{|/profile/password-edit|}" method="POST">
                        <div class="form-label-group d-flex">
                            <label for="currentPass">Current Password</label>
                            <input class="ml-auto mt-2" type="password" id="currentPass" name="currentPass" />
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="newPass">New Password</label>
                            <input class="ml-auto mt-2" type="password" id="newPass" name="newPass"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="confirmNewPass">Confirm New Password</label>
                            <input class="ml-auto mt-2" type="password" id="confirmNewPass" name="confirmNewPass"/>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
                            <i class="fas fa-check mr-2"></i>Update
                            Password
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editProPic" tabindex="-1" role="dialog" aria-labelledby="proPicLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proPicLabel">Choose your Duck</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="img/Ducks/LuckyTheDuck.jpeg" alt="Personal Duck" class="img-thumbnail" style="height: 175px; width: 175px">
                            <form th:action="@{|/goals/delete|}" th:method="POST">
                                <button type="submit" class="btn btn-success" name="id" id="updateProfilePic"><i
                                        class="far fa-check-circle mr-2"></i>Confirm
                                </button>
                            </form>
                        </div>
                        <div class="col-8">

                            <img src="../../static/img/Ducks/Angel.jpeg" alt="Angel Duck"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>

</body>
</html>