<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Profile')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<h1 class="text-center mt-4 mb-4">Your Profile</h1>

<div class="row ml-3 mr-3">

    <div class="col-2" style="border: none">
        <img src="img/Ducks/LuckyTheDuck.jpeg" alt="Personal Duck" class="img-thumbnail" style="height: 175px; width: 175px">
        <button type="button" class="btn btn-warning p-1 ml-4 mt-3"><a th:href="@{'/profile/profile-edit'}" style="color: dimgray"><i class="fas fa-edit mr-2" style="color: dimgray"></i>Edit Profile</a></button>
        <button type="button" class="btn btn-danger p-1 ml-4 mt-3"><a th:href="@{'/profile/'+${user.id}+'/delete'}" style="color: white"><i class="fas fa-trash-alt mr-2" style="color: white"></i>Delete Profile</a></button>
    </div>

    <div class="col-4" style="border: none">
        <h3 style="text-decoration-line: underline">Upcoming Bills</h3>
        <div th:each="bill : ${upcomingBills}" style="margin-top: 5%; margin-bottom: 5%">
            <span th:text="${bill.name} + ' is due on ' + ${bill.dueDate}"></span>
        </div>

        <h3 style="text-decoration-line: underline">Overdue Bills</h3>
        <div th:each="bill : ${overdueBills}" style="margin-top: 5%; margin-bottom: 5%">
            <span th:text="${bill.name} + ' was due on ' + ${bill.dueDate}" style="color: red"></span>
        </div>

        <h3 style="text-decoration-line: underline">Goal Tracker</h3>
        <div th:each="budget : ${newGoal}" style="margin-top: 5%; margin-bottom: 10%">
            <label th:text="${budget.name}"></label>
            <label th:text="${'Goal: $' + (budget.balance_in_cents - budget.goal_funds)/100}" class="float-right"></label>
            <div class="progress border border-dark mt-1" style="height: 25px; width: 430px; background-color: lightskyblue">
                <div class="progress-bar" role="progressbar" th:style="'width:' + ((${budget.goal_funds} * 100) / ${budget.balance_in_cents}) + '%'" th:text="'$' + ${budget.goal_funds/100}"></div>
            </div>
            <hr>
        </div>

        <div th:if="${param.logout}">You have been logged out.</div>
    </div>

    <div class="col-5 m-0 p-0" style="border: none">
        <div id="donutchart" class="p-0 m-0" style="width: 900px; height: 700px"></div>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        google.charts.load("current", {packages:["corechart"]});  //this loads visualization API and corechart package
        google.charts.setOnLoadCallback(drawChart); //this sets callback to run when the Google Visualization API is loaded
        function drawChart() {
            /*<![CDATA[*/
            var chartArray = [];
            chartArray.push(['Categories', '% of spending']);
            /*[# th:each="categoryTotal : ${categoryTotals}"]*/
            chartArray.push([ [[${categoryTotal.cat.name}]], [[${categoryTotal.catTotal/100}]] ]);
            /*[/]*/
            /*]]>*/
            console.log(chartArray);
            var data = google.visualization.arrayToDataTable(chartArray);

            var options = {
                title: 'Transaction Summary (by Category)',
                pieHole: 0.3,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    });
</script>
</body>
</html>