<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Bill Page')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<br>

<h1 class="text-center">Your Bills</h1>

<div class="container">
    <div class="p-4">
        <table class="table table-hover" id="bill-table">
            <thead class="thead-dark">
            <tr>
                <th onclick="sortTable(0)" class="text-center">Name</th>
                <th onclick="sortTable(1)" class="text-center">Due Date</th>
                <th onclick="sortTable(2)" class="text-center">Minimum Amount</th>
                <th onclick="sortTable(3)" class="text-center">Last Amount Paid</th>
                <th onclick="sortTable(4)" class="text-center">Pay Bill/Reset</th>
                <th class="text-center">Delete/Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bill : ${bills}">
                <td class="bill-name text-center" th:text="${bill.name}"></td>
                <td class="bill-date text-center" th:text="${bill.dueDate}"></td>
                <td class="money-td bill-amount text-center" th:text="'$' + ${bill.amountInCents}"></td>
                <td class="money-td bill-payment text-center" th:text="'$' + ${bill.lastAmt}"></td>
                <td class="text-center" th:if="${bill.paid == false}">
                    <button type="button" class="btn btn-success p-1" data-toggle="modal" data-target="#payBill"
                            th:data-pay="${bill.id}"><i class="fas fa-dollar-sign mr-2"></i>Pay Bill
                    </button>
                </td>
                <td class="text-center" th:if="${bill.paid == true}">
                    <button type="button" class="btn btn-primary p-1" data-toggle="modal" data-target="#resetBill"
                            th:data-reset="${bill.id}"><i class="fas fa-redo-alt mr-2"></i>Reset
                    </button>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning p-2 text-dark editIcon" data-toggle="modal"
                            data-target="#editBill" th:data-id="${bill.id}"><i class="fas fa-edit rounded-circle"></i>
                    </button>
                    <button type="button" class="btn btn-danger p-2 ml-1 text-light" data-toggle="modal"
                            data-target="#deleteBill" th:data-i="${bill.id}"><i class="fas fa-trash-alt rounded-circle"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button type="button" id="addBButton" class="btn btn-primary p-2 w-auto" data-toggle="modal"
                    data-target="#addBill"><i class="fas fa-plus mr-2"></i>Add a Bill
            </button>
        </div>

    </div>

</div>

<div class="modal fade" id="deleteBill" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirm">Delete this bill?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This is permanent and cannot be undone.</p>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban mr-2"></i>Cancel
                </button>
                <form th:action="@{/bills/delete}" th:method="post">
                    <button type="submit" class="btn btn-success" name="id" id="delete-id"><i
                            class="far fa-check-circle mr-2"></i>Confirm
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payBill" tabindex="-1" role="dialog" aria-labelledby="payBillLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="payBillLabel">Payment for <span id="pay-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/bills/payment}" th:method="post">
                    <div>
                        <label for="pay-amt">Enter payment amount.</label>
                        <br>
                        <input type="number" step="0.01" id="pay-amt" name="payAmt" required>
                        <input type="hidden" id="payment-name" name="payName">
                        <input type="hidden" id="payment-id" name="id">
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-dollar-sign mr-2"></i>Confirm
                            Payment
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editBill" tabindex="-1" role="dialog" aria-labelledby="editBillLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="editBillLabel">Edit This Bill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/bills/edit}" th:method="post">
                    <div>
                        <label for="edit-name">Bill Name</label>
                        <input type="text" class="form-control" id="edit-name" name="name" required>
                    </div>
                    <br>
                    <div>
                        <label for="edit-due-date">Bill Due Date</label>
                        <input type="date" class="form-control" id="edit-due-date" name="date" required>
                    </div>
                    <br>
                    <div>
                        <label for="edit-amount">Bill Amount</label>
                        <input type="number" step="0.01" class="form-control" id="edit-amount" name="amount" required>
                        <input type="hidden" class="form-control" id="edit-id" name="id">
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle mr-2"></i>Save
                            Changes
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addBill" tabindex="-1" role="dialog" aria-labelledby="addBillLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="addBillLabel">Create a Bill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/bills/add}" th:method="post" th:object="${newBill}">
                    <div>
                        <label for="add-name">Bill Name</label>
                        <input type="text" class="form-control" id="add-name" th:field="*{name}" required>
                    </div>
                    <br>
                    <div>
                        <label for="add-due-date">Bill Due Date</label>
                        <input type="date" class="form-control" id="add-due-date" th:field="*{dueDate}" required>
                    </div>
                    <br>
                    <div>
                        <label for="add-amount">Minimum Bill Amount</label>
                        <br>
                        <input type="number" step="0.01" class="form-control" id="add-amount"
                               th:field="*{amountInCents}" placeholder="Can be zero" required>
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle mr-2"></i>Add Bill
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="resetBill" tabindex="-1" role="dialog" aria-labelledby="resetBillLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="resetBillLabel">Reset <span id="reset-name"></span> Pay Status?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/bills/reset}" th:method="post">
                    <div>
                        <label for="pay-amt">Enter New Due Date</label>
                        <br>
                        <input type="date" id="reset-date" name="resetDate" required>
                        <input type="hidden" id="reset-id" name="id">
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                class="fas fa-ban mr-2"></i>Cancel
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-2"></i>Confirm Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>

<script>
    $(document).ready()
    {
        let moneyFormat = $(".money-td");
        console.log(moneyFormat);
        for (let td of moneyFormat) {
            let moneyParsed = $(td).text();
            console.log(td);
            moneyParsed = parseFloat(moneyParsed.substring(1)).toFixed(2);
            $(td).text("$" + moneyParsed);
        }
    }
</script>

</body>
</html>
