.top_banner {
    font-size: 4rem;
    color: gold;
    text-align: center;
    background-color: green;
    border-color: black;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

#addBButton {
    width: 35px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: green;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.large-font {
    font-size: 140%;
}

.footer > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.footer > .navbar {min-height:32px !important}