<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partial :: head"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<h1>About Us</h1>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body align-content-center">
                <img src="img/ted.png" alt="">
                <h5 class="card-title">Teodoro Zamarron</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Github Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body align-content-center">
                <img src="img/guillermo.png" alt="">
                <h5 class="card-title">Guillermo De Leon</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Github Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body align-content-center">
                <img src="img/jimmy.png" alt="">
                <h5 class="card-title">James Muralles</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Github Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body align-content-center">
                <img src="img/anthony.png" alt="">
                <h5 class="card-title">Anthony San Miguel</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Github Link</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>