<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partial :: head"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<h1>About Us</h1>

<div class="container">
    <div class="card col-2">
        <img src="#" alt="">
        <p>(Name)</p>
        <p>(Github link)</p>
    </div>
    <div class="card col-2">
        <img src="#" alt="">
        <p>(Name)</p>
        <p>(Github link)</p>
    </div>
    <div class="card col-2">
        <img src="#" alt="">
        <p>(Name)</p>
        <p>(Github link)</p>
    </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>