<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('About Us')"></head>
<body>
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<div>
<h1 class="text-center mt-4 mb-4" id="about-meetquacks-subtitle">Meet the Quacks</h1>

    <div class="card-deck pl-5 pr-4 pb-5">
        <div class="card" style="border: 2px solid darkgreen;">
            <img class="card-img-top about_us_pics mx-auto mt-3" src="img/ted.png" alt="Teodoro Zamarron">
            <div class="card-body">
                <h5 class="card-title text-center">Teodoro Zamarron</h5>
                <p class="card-text text-justify text-muted">I am an Army Veteran software developer with the drive to grow and learn from my surroundings. A keen eye for detail and adaptability has helped me overcome obstacles swiftly and effectively.</p>
            </div>
            <div class="card-footer d-flex justify-content-center" style="background-color: darkgreen">

                <a href="https://www.linkedin.com/in/tzamarron/" class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                    <i class="fab fa-linkedin fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://github.com/tzamarron" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-github-square fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://alumni.codeup.com/students/807"
                   class="p-1 d-flex align-items-center justify-content-center">
                    <img src="img/codeup-small.png" width="30" height="30" alt="codeup link">
                </a>
            </div>
        </div>
        <div class="card" style="border: 2px solid darkgreen">
            <img class="card-img-top about_us_pics mx-auto mt-3" src="img/guillermo.png" alt="Guillermo De Leon">
            <div class="card-body">
                <h5 class="card-title text-center">Guillermo De Leon</h5>
                <p class="card-text text-justify text-muted">With more than 10 years of IT client services experience looking to become a valuable asset in a dynamic team environment. Eager to embrace new challenges that will allow me to design solutions that focus on the end user experience.</p>
            </div>
            <div class="card-footer d-flex justify-content-center" style="background-color: darkgreen">
                <a href="https://www.linkedin.com/in/guillermo-deleon/" class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                    <i class="fab fa-linkedin fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://github.com/GuillermoDeLeon" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-github-square fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://alumni.codeup.com/students/798"
                   class="p-1 d-flex align-items-center justify-content-center">
                    <img src="img/codeup-small.png" width="30" height="30" alt="codeup link">
                </a>
            </div>
        </div>
        <div class="card" style="border: 2px solid darkgreen">
            <img class="card-img-top about_us_pics mx-auto mt-3" src="img/jimmy2.png" alt="James Muralles">
            <div class="card-body">
                <h5 class="card-title text-center">James Muralles</h5>
                <p class="card-text text-justify text-muted">A hard working developer who learns quickly and performs efficiently. Motivation to gain knowledge and solve problems drives my ambition. The 6 years of military experience has taught me that teamwork is the driving force in accomplishing all goals and tasks at hand.</p>
            </div>
            <div class="card-footer d-flex justify-content-center" style="background-color: darkgreen">
                <a href="https://www.linkedin.com/in/james-muralles/" class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                    <i class="fab fa-linkedin fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://github.com/James-Muralles" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-github-square fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://alumni.codeup.com/students/814"
                   class="p-1 d-flex align-items-center justify-content-center">
                    <img src="img/codeup-small.png" width="30" height="30" alt="codeup link">
                </a>
            </div>
        </div>
        <div class="card" style="border: 2px solid darkgreen">
            <img class="card-img-top about_us_pics mx-auto mt-3" src="img/anthony.png" alt="Anthony San Miguel">
            <div class="card-body">
                <h5 class="card-title text-center">Anthony San Miguel</h5>
                <p class="card-text text-justify text-muted">Goal-oriented software developer with an open mind, collaborative work style, and solutions oriented problem-solving skills. Committed to high standards of user experience and user interface designs.</p>
            </div>
            <div class="card-footer d-flex justify-content-center" style="background-color: darkgreen">
                <a href="https://www.linkedin.com/in/anthony-san-miguel-ii/" class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                    <i class="fab fa-linkedin fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://github.com/AnthonySanMiguel" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-github-square fa-2x" style="color: goldenrod"></i>
                </a>
                <a href="https://alumni.codeup.com/students/817"
                   class="p-1 d-flex align-items-center justify-content-center">
                    <img src="img/codeup-small.png" width="30" height="30" alt="codeup link">
                </a>
            </div>
        </div>
    </div>

<!--<div class="row">-->
<!--    <div class="col-sm-3">-->
<!--        <div class="card">-->
<!--            <div class="card-body text-center">-->
<!--                <img src="img/ted.png" alt="Teodoro Zamarron" class="pb-3">-->
<!--                <h5 class="card-title">Teodoro Zamarron</h5>-->
<!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                <a href="https://github.com/tzamarron" class="d-flex align-items-center justify-content-center">-->
<!--                    <i class="fab fa-github-square fa-2x"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-3">-->
<!--        <div class="card">-->
<!--            <div class="card-body text-center">-->
<!--                <img src="img/guillermo.png" alt="Guillermo De Leon" class="pb-3">-->
<!--                <h5 class="card-title">Guillermo De Leon</h5>-->
<!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                <a href="https://github.com/GuillermoDeLeon" class="d-flex align-items-center justify-content-center">-->
<!--                    <i class="fab fa-github-square fa-2x"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-3">-->
<!--        <div class="card">-->
<!--            <div class="card-body text-center">-->
<!--                <img src="img/jimmy2.png" alt="James Muralles" class="pb-3" id="jimmy">-->
<!--                <h5 class="card-title">James Muralles</h5>-->
<!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                <a href="https://github.com/James-Muralles" class="d-flex align-items-center justify-content-center">-->
<!--                    <i class="fab fa-github-square fa-2x"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-3">-->
<!--        <div class="card">-->
<!--            <div class="card-body text-center">-->
<!--                <img src="img/anthony.png" alt="Anthony San Miguel" class="pb-3">-->
<!--                <h5 class="card-title">Anthony San Miguel</h5>-->
<!--                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                <a href="https://github.com/AnthonySanMiguel" class="d-flex align-items-center justify-content-center">-->
<!--                    <i class="fab fa-github-square fa-2x"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>