<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partial :: head('Welcome')"></head>
<body style="background-color: darkgreen">
<div th:replace="partials/partial :: top_banner"></div>
<div th:replace="partials/partial :: standard_nav"></div>

<div style="margin-top: 5%">
    <div id='warped' class="justify-content-center">
        <img src="img/moving_duck_op.gif" id="logo" class="rounded-circle" alt="Quacker Tracker Logo">
        <span class='w0'>S</span><span class='w1'>a</span><span class='w2'>v</span><span class='w3'>e</span><span class='w4'> </span><span class='w5'>Y</span><span class='w6'>o</span><span class='w7'>u</span><span class='w8'>r</span><span class='w9'> </span><span class='w10'>P</span><span class='w11'>e</span><span class='w12'>n</span><span class='w13'>n</span><span class='w14'>i</span><span class='w15'>e</span><span class='w16'>s</span><span class='w17'> </span><span class='w18'>f</span><span class='w19'>o</span><span class='w20'>r</span><span class='w21'> </span><span class='w22'>a</span><span class='w23'> </span><span class='w24'>R</span><span class='w25'>a</span><span class='w26'>i</span><span class='w27'>n</span><span class='w28'>y</span><span class='w29'> </span><span class='w30'>D</span><span class='w31'>a</span><span class='w32'>y</span><span class='w33'>!</span>
    </div>
</div>

<br>

<div class="card-deck pl-5 pr-5">
    <div class="card">
        <img src="img/cash-splash.png" class="card-img-top" alt="stack of cash" width="50" height="300px">
        <div class="card-body">
            <h5 class="card-title text-center">Manage Your Personal Finances</h5>
            <div class="card-text text-muted">Keep track of all your monthly bills and their due dates. With Quacker Tracker never miss a payment again. See a list of all your upcoming bills in one single view</div>
        </div>
    </div>
    <div class="card">
        <img src="img/piechart-splash.png" class="card-img-top" alt="..." width="50" height="300px">
        <div class="card-body">
            <h5 class="card-title text-center">Record Daily Transactions</h5>
            <div class="card-text text-muted">Manage all expenditures and income on a daily basis. Quacker Tracker will automatically calculate your transactions to give you a real-time balance of your current financial situation.</div>
        </div>
    </div>
    <div class="card">
        <img src="img/ecohome-splash.png" class="card-img-top" alt="..." width="50" height="300px">
        <div class="card-body">
            <h5 class="card-title text-center">Set Budgetary Goals</h5>
            <div class="card-text text-muted">Are you trying to save money for a down payment on your first home? With Quacker Tracker set up a "wish list" of goals where you can keep track of how much money you've applied towards your goal and how much money is needed to reach that goal.
            </div>
        </div>
</div>

<div th:replace="partials/partial :: footer_nav"></div>
<div th:replace="partials/partial :: footer"></div>
</body>
</html>
